
.attendance_bot {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}
.attendance_bot_left,
.attendance_bot_right {
  display: flex;
  width: 40%;
  border: 1 px solid blue;
  height: 40 vh;
  margin-top: 10vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
