.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#side_bar {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.side_bar_child {
  width: 80%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: rgba(4, 0, 255, 0.548) 0px 10px 20px, rgba(0, 0, 0, 0.103) 0px 6px 6px; */
  cursor: pointer;
}

#side_bar_profile {
  box-shadow: rgba(4, 0, 255, 0.548) 0px 10px 20px,
    rgba(0, 0, 0, 0.103) 0px 6px 6px;
}
#side_bar_profile:hover {
  -webkit-box-shadow: inset -2px 0px 114px 14px rgba(0, 4, 255, 0.37);
  -moz-box-shadow: inset -2px 0px 114px 14px rgba(17, 0, 255, 0.322);
  box-shadow: inset -2px 0px 114px 14px rgba(4, 0, 255, 0.226);
}
#side_bar_cdetails {
  box-shadow: rgba(255, 0, 0, 0.548) 0px 10px 20px,
    rgba(0, 0, 0, 0.103) 0px 6px 6px;
}
#side_bar_cdetails:hover {
  -webkit-box-shadow: inset -2px 0px 114px 14px rgba(255, 0, 0, 0.37);
  -moz-box-shadow: inset -2px 0px 114px 14px rgba(255, 0, 0, 0.322);
  box-shadow: inset -2px 0px 114px 14px rgba(255, 0, 0, 0.226);
}
#side_bar_attendance {
  box-shadow: rgba(0, 255, 34, 0.548) 0px 10px 20px,
    rgba(0, 0, 0, 0.103) 0px 6px 6px;
}
#side_bar_attendance:hover {
  -webkit-box-shadow: inset -2px 0px 114px 14px rgba(0, 255, 0, 0.37);
  -moz-box-shadow: inset -2px 0px 114px 14px rgba(0, 255, 42, 0.322);
  box-shadow: inset -2px 0px 114px 14px rgba(0, 255, 21, 0.226);
}
#side_bar_cmaterials {
  box-shadow: rgba(225, 0, 255, 0.548) 0px 10px 20px,
    rgba(0, 0, 0, 0.103) 0px 6px 6px;
}
#side_bar_cmaterials:hover {
  -webkit-box-shadow: inset -2px 0px 114px 14px rgba(217, 0, 255, 0.37);
  -moz-box-shadow: inset -2px 0px 114px 14px rgba(217, 0, 255, 0.322);
  box-shadow: inset -2px 0px 114px 14px rgba(174, 0, 255, 0.226);
}

.dashboard {
  width: 70%;
  height: 100vh;
  display: flex;
}
.sub_dash {
  width: 100%;
  height: 93.5vh;
  text-align: center;
  background-color: #fff;
  margin: auto;
  border-radius: 5px;
}
.sub_dash_cor {
  box-shadow: rgba(255, 0, 0, 0.548) 0px 10px 20px,
    rgba(255, 0, 0, 0.103) 0px 6px 6px;
}
.sub_dash_pro {
  box-shadow: rgba(0, 17, 255, 0.637) 0px 10px 20px,
    rgba(4, 0, 255, 0.103) 0px 6px 6px;
}
.sub_dash_att {
  box-shadow: rgba(0, 255, 13, 0.548) 0px 10px 20px,
    rgba(0, 255, 34, 0.103) 0px 6px 6px;
}
.sub_dash_pro_cla {
  box-shadow: rgba(195, 0, 255, 0.548) 0px 10px 20px,
    rgba(204, 0, 255, 0.103) 0px 6px 6px;
}
