#side_bar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}
.side_bar_child {
  width: 80%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}
