* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
}
._main {
  background-image: linear-gradient(#fff, rgba(0, 128, 0, 0.247));
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;
}
.css-v60gti-MuiInputBase-root-MuiOutlinedInput-root {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}
